@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 8% 10%;
    --foreground: 0 0% 98%;
    --card: 140 8% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 140 8% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 150 70% 50%;
    --primary-foreground: 140 8% 10%;
    --secondary: 140 8% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 140 8% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 150 70% 50%;
    --accent-foreground: 140 8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 8% 25%;
    --input: 140 8% 25%;
    --ring: 150 70% 50%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 140 8% 10%;
    --foreground: 0 0% 98%;
    --card: 140 8% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 140 8% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 150 70% 50%;
    --primary-foreground: 140 8% 10%;
    --secondary: 140 8% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 140 8% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 150 70% 50%;
    --accent-foreground: 140 8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 8% 25%;
    --input: 140 8% 25%;
    --ring: 150 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animated-gradient-bg {
    background-image: linear-gradient(to right, #4a21bb, #da1d65, #fe7a22, #da1d65, #4a21bb);
    background-size: 200% auto;
    animation: gradient-flow 10s linear infinite;
  }
  .animated-gradient-text {
    @apply bg-clip-text text-transparent animated-gradient-bg;
  }

  @keyframes gradient-flow {
    to {
      background-position: 200% center;
    }
  }
}
